#!/usr/bin/make -f

# Used by get-source and get-orig-souce
PACKAGE_VERSION := $(shell cat dmdirc-version)

# Get the source and the version
get-source:
	rm -Rf dmdirc-version dmdirc-orig-source
	git clone https://github.com/DMDirc/Meta.git
	git --git-dir=dmdirc-orig-source/.git submodule update --init --remote
	git --git-dir=dmdirc-orig-source/client/.git describe --tags --always > dmdirc-version
	rm -Rf dmdirc-orig-source/.git

# Create an orig.tgz from the latest source.
get-orig-source: get-source
	tar -zcf dmdirc_$(VERSION).orig.tgz dmdirc-orig-source
	rm -Rf dmdirc-orig-source dmdirc-version

%:
	dh $@ --buildsystem=gradle